
<footer>
  <div class="container-fluid bg-night text-white py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-4 my-3">
              <h4>CONTACT</h4>
              <br>


              <div class="my-2 font-weight-light">
                <div class="row">
                  <div class="col-1 col-md-2 my-2 my-md-1">
                    <h5 class="text-p d-inline"><i class="fa fa-phone"></i></h5>
                  </div>
                  <div class="col">
                    023 580 430
                  </div>
                </div>
              </div>

              <div class="my-2 font-weight-light">
                <div class="row">
                    <div class="col-1 col-md-2 my-2 my-md-1">
                        <h5 class="text-p d-inline"><i class="fa fa-envelope"></i></h5>
                      </div>
                    <div class="col">
                        contact@kg-voyages.com
                    </div>
                  </div>
                </div>


              <div class="my-2 font-weight-light">
                <div class="row">
                  <div class="col-1 col-md-2 my-2 my-md-1">
                    <h5 class="text-p d-inline"><i class="icon fa fa-location-arrow"></i></h5>
                  </div>
                  <div class="col">
                    05 Rue K&G Voyages Cheraga,Alger.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 my-3">
              <h4>LIENS UTILES</h4><br>
              <div class="container">
                <a class="footer-link d-block font-weight-light menu-item"      href="{% url 'home'%}"><small><b>&gt;</b></small>  Acceuil</a>
                <a class="footer-link d-block font-weight-light pt-1 menu-item" href="{% url 'voyages_acceuil'%}"><small><b>&gt;</b></small> Voyages</a>
                <a class="footer-link d-block font-weight-light pt-1 menu-item" href="{% url 'omras_acceuil'%}"><small><b>&gt;</b></small> Omra</a>
                <a class="footer-link d-block font-weight-light pt-1 menu-item" href="{% url 'visas_acceuil'%}"><small><b>&gt;</b></small> Sérvice visa</a>
                <a class="footer-link d-block font-weight-light pt-1 menu-item" href="{% url 'contact'%}"><small><b>&gt;</b></small> Contact</a>
              </div>
            </div>
            <div class="col-md-5 my-3">
              <h4>SUIVEZ-NOUS</h4>
              <br>
              <div class="container">
                <p class="text-light text-justify">Nous prenons le temps de vous écouter afin de vous garantir le meilleur accompagnement.</p>
                <div class="py-3">
                  <a href="https://www.facebook.com/Kenzyghilesvoyages/" target="_blank" class="mx-1 social">  <i class="fab fa-facebook-f d-inline-block"></i> </a>
                  <a href="#" class="mx-1 social">  <i class="fab fa-twitter d-inline-block"></i> </a>
                  <a href="https://www.instagram.com/idmd.dz/" target="_blank" class="mx-1 social">  <i class="fab fa-instagram d-inline-block"></i> </a>
                  <a href="https://www.linkedin.com/in/idmd-dz-60040a16a/" target="_blank" class="mx-1 social"> <i class="fab fa-linkedin-in d-inline-block"></i> </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
</footer>
