{%extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block styles %}
  <link rel="stylesheet" href="{% static '/css/ribbon.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet" href="">
<!-- Latest compiled and minified JavaScript -->

{% endblock styles %}


{% block title %} Offres Omras {% endblock title %}



{% block body %}

<div class="position-relative py-5" style='background:url(/static/img/omra.jpg); -webkit-background-size: cover;background-size: cover;background-attachment: fixed;'>
<h1 class='py-4 text-center text-white display-4 -md' style='-webkit-filter: blur(1px);filter: blur(1px);'>Offres <span class='text-day'>Omras</span></h1>
</div>
<div class="container-fluid py-3 pr-4">
  <div class="container">
    <h3>Lorem ipsum dolor.</h3>
    <p class="text-secondary py-2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus consectetur voluptatibus temporibus rem quasi, distinctio a sit modi maiores, doloremque odit, necessitatibus unde repellat ea quae qui neque suscipit ipsa?
    </p>
    <div class="row">
      {%for omra in omras%}
        <div class="col-md-3">
          <div class="container border px-0">
            <img src="{{omra.image.url}}" alt="offre omra {{omra.titre}}  agence-de-voyage-kenzy-&-ghiless-voyage" class='img-fluid'>
            <h5 class='text-center'><a href="{% url 'single_omras' omra.slug %}">{{omra}}</a></h5>
          </div>
        </div>

      {%endfor%}
    </div>


          <div class="pagination">
              <span class="step-links">
                  {% if omras.has_previous %}
                      <a href="?page=1" class='btn bg-day text-white paginator'>1</a>
                      <a href="?page={{ omras.previous_page_number }}" class='btn bg-day text-white paginator'> < </a>
                  {% endif %}



                  {% if omras.has_next %}
                      <a href="?page={{ omras.next_page_number }}" class='btn bg-day text-white paginator'> > </a>
                      <a href="?page={{ omras.paginator.num_pages }}" class='btn bg-day text-white paginator'>{{ omras.paginator.num_pages }}</a>
                  {% endif %}
              </span>
          </div>
  </div>


  <hr>
</div>
{% endblock body %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker({format: 'YYYY-MM-DD'});
        $('#datetimepicker8').datetimepicker({
            useCurrent: false,
            format: 'YYYY-MM-DD'
        });
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            $('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
    });
</script>
  <script>
    $(document).ready(function(){

      var etoiles=''
      for(i=0; i<parseInt($('.etoiles').attr('data-stars'));i++)
      etoiles+=' <i class="fas fa-star"></i> '
      $('.etoiles').html(etoiles)


</script>
{% endblock scripts %}
