{%extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block styles %}
  <link rel="stylesheet" href="{% static '/css/ribbon.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet" href="">
<!-- Latest compiled and minified JavaScript -->

{% endblock styles %}


{% block title %} Acceuil Voyages {% endblock title %}



{% block body %}
<div class="position-relative py-5" style='background:url(/static/img/voyage.jpg); -webkit-background-size: cover;background-size: cover;background-attachment: fixed;'>
<h1 class='py-4 text-center text-white display-4 -md' style='-webkit-filter: blur(1px);filter: blur(1px);'>Découvrez Nos  <span class='text-day'>Voyages</span></h1>
</div>
<div class="container-fluid py-3 pr-4">
  <div class="container py-2">
    <h3>Lorem ipsum dolor.</h3>
    <p class="text-secondary">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo consequatur reprehenderit, illo modi quae asperiores sunt. Vero quam accusantium, unde, consequatur inventore sunt eligendi eos debitis harum nostrum, veniam temporibus.
    </p>
    <hr>
    <div class="row">
      {%for voyage in voyages%}
      <div class="col-md-3">
        <div class="container border px-0">
          <img src="{{voyage.image.url}}" alt="" class="img-fluid">
          <h5 class='text-center'><a href="{% url 'single_voyages' voyage.slug %}">{{voyage}}</a></h5>
        </div>
      </div>

      {%endfor%}

    </div>
  </div>



        <div class="pagination">
            <span class="step-links">
                {% if voyages.has_previous %}
                    <a href="?page=1" class='btn bg-day text-white paginator'>1</a>
                    <a href="?page={{ voyages.previous_page_number }}" class='btn bg-day text-white paginator'> < </a>
                {% endif %}


                {% if voyages.has_next %}
                    <a href="?page={{ voyages.next_page_number }}" class='btn bg-day text-white paginator'> > </a>
                    <a href="?page={{ voyages.paginator.num_pages }}" class='btn bg-day text-white paginator'>{{ voyages.paginator.num_pages }}</a>
                {% endif %}
            </span>
        </div>

  <hr>
</div>
{% endblock body %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker({format: 'YYYY-MM-DD'});
        $('#datetimepicker8').datetimepicker({
            useCurrent: false,
            format: 'YYYY-MM-DD'
        });
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            $('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
    });
</script>
  <script>
    $(document).ready(function(){

      var etoiles=''
      for(i=0; i<parseInt($('.etoiles').attr('data-stars'));i++)
      etoiles+=' <i class="fas fa-star"></i> '
      $('.etoiles').html(etoiles)


</script>
{% endblock scripts %}
